$card_border_color: gainsboro;
$page_heading_backgroud_color: red;
$text_color: white;
$text_color_secondary: black;
$background_color: #221e1e;
$background_color_secondary: white;
$list_background_color: rgb(224, 221, 221);