.button {
    height: 40px;
    width: auto;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid black;
    padding: 1rem;
    line-height: 0rem;
    cursor: pointer;

    &-primary {
        background-color: white;
        color: red;
    }

    &-secondary {
        background-color: red;
        color: white;
    }
}